.navbar {
	width: 100%;
	background-color: #333;
}

.navbar .menu {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navbar .menu li a {
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 0.8em 1em;
}
.navbar .menu li a:hover {
	background: #ff6347;
	color: #fff;
}
.navbar .menu li a:active {
	background: #cc5337;
}
.navbar .menu li a.active {
	background: rgba(255, 255, 255, 0.2);
}

.resumee-brand {
	margin-right: auto;
}
