.navbar {
	width: 100%;
	background-color: var(--primary-4);
}

.navbar .menu {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navbar .menu li a {
	color: var(--primary-1);
	display: block;
	text-decoration: none;
	padding: 0.8em 1em;
}
.navbar .menu li a:hover {
	background: var(--secondary-1);
	color: var(--secondary-4);
}
.navbar .menu li a:active {
	background: var(--primary-1);
}
.navbar .menu li a.active {
	background: var(--primary-1);
	color: var(--primary-4);
}

.resumee-brand {
	margin-right: auto;
}
