
.section.education h4 {
    margin-bottom: 10px;    
}

.section.education ul {
    margin-left: 21px;
}
.section.education ul li {
    margin-bottom: 10px;
}
.section.education p {
    margin-top: 5px;
}